<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/register.css">
</head>
<body>
    <div class="center">
        <h1>Register</h1>
        <br>
        <form class="registerform">
            <input id="username" placeholder="Enter Username">
            <br>
            <br>
            <input id="password" placeholder="Enter Password">
            <br>
            <br>
            <button type="submit">Register</button>
            <br>
            <br>
        </form>             
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/register.js"></script>
</body>
</html>